/*
 * This file is part of debatepoint.com - web-based debate software
 *
 *   Copyright (C) 2004  James D. Taylor
 * 
 *   debatepoint is free software; you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation; either version 2 of the License, or
 *   any later version.
 * 
 *   debatepoint is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU General Public License for more details.
 * 
 *   You should have received a copy of the GNU General Public License
 *   along with debatepoint; if not, write to the Free Software
 *   Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 *
 * Contact James D. Taylor:  james.d.taylor@gmail.com
 */

/* Basic tags */
body {
	margin:0px;
	background-color:white;
	/*
	font-family:sans-serif;
	*/
	font-family: luxi sans,sans-serif;
	color:black;
}

#body {
	width:auto;
	position:relative;
	z-index: 0;
	margin: 1em 1em 1em 1em;
	padding:10px;
	/*
	background-color:black;
	*/
}

.pointItem {
	margin:2px;
}

.pointStance {
	float:left;
	padding:5px;
	margin-right:5px;
}

.pointTitle {
	padding:5px;
	padding-left:10px;
}

a img {
	border:0px;
}

/* Anchors
*/
a {
	color:#0000ff;
}

a:visited {
	color:#551a8b;
}

a:active {
	color:#ff0000;
}

textarea {
	background-color:#EAEAEA;
}

#header {
	width:100%;
	color:#EEEE00;
	background-color:#006688;
	border-bottom:1px solid #807d74;
}

#header a {
	color:#EEEEEE;
	text-decoration:none;
}

#title {
	padding-left:10px;
	padding-top:10px;
	font-size: 24pt;
	font-family: luxi sans,sans-serif;
	color:#FFFFFF;
}

#menu {
	position:relative;
	text-align: right;
	right:10px;
	bottom:2px;
}

#contents {
	width: auto;
	z-index: 1;
	position: relative;
	padding: 0;
	margin: 0 15.5em 0 1em;
	/*
	background-color:red;
	*/
}

#toolbar {
	float: right;
	z-index: 1;
	padding: 0;
	position: relative;
	width: 15em;
	margin: 0 10px 0 10px;
	/*
	background-color: green;
	*/
}

#login_container {
	position: relative;
	width:300px;
	margin:10px;
}

.login {
	position: relative;
	border:2px solid #000000;
	background-color:#EEEEEE;
	padding:10px;
	margin: 0 10px 10px 10px;
}

.login a {
	text-decoration:none;
}

.login input {
	width:90%;
}

.topic_list {
	position: relative;
	border:2px solid #000000;
	background-color:#EEEEEE;
	margin: 0 10px 10px 10px;
}

.topic_list a {
	text-decoration:none;
}

.topic_list_title {
	position: relative;
	border-bottom:1px solid #000000;
	background-color:#006688;
	color:#EEEEEE;
	padding:4px;
	font-family:sans-serif;
	font-size: 18pt;
}

.welcome {
	position: relative;
	border:2px solid #000000;
	background-color:#EEEEEE;
	margin: 0 10px 10px 10px;
}

.welcome a {
	text-decoration:none;
}

.welcome_title {
	position: relative;
	border-bottom:1px solid #000000;
	background-color:#006688;
	color:#EEEEEE;
	padding:4px;
	font-family:sans-serif;
	font-size: 18pt;
}

.welcome_body {
	position: relative;
	border-bottom:1px solid #000000;
	background-color:#EEEEEE;
	padding:18px;
}

.consensus {
	position: relative;
	border:2px solid #000000;
	background-color:#EEEEEE;
	margin: 0 10px 10px 10px;
}

.consensus_title {
	border-bottom:1px solid #000000;
	position: relative;
	background-color:#006688;
	color:#EEEEEE;
	padding:4px;
	font-family:sans-serif;
	font-size: 18pt;
}

.consensus a {
	text-decoration:none;
}

#debate_list {
}

#debate_menu {
	width:80%;
}

.debate_mode {
	background-color:#CCDDFF;
	/*
	float:left;
	*/
	display:inline;
	text-align:center;
	border:2px solid #000000;
	padding:10px;
	font-size: 18pt;
	font-family:sans-serif;
}

.stance {
	padding:10px;
	margin-top:15px;
	padding-left:25px; /* to make the tristance even */
	/*
	background-color:#DDDDDD;
	*/
	text-align: center;
	font-family:sans-serif;
	font-size: 14pt;
}

.stance_title {
	text-align: center;
	font-family:sans-serif;
	font-size: 24pt;
}

#stanceCanvas {
	text-align: center;
	margin-top:15px;
}

#stance_table {
	border-collapse: collapse;
	/*
	border: 4px solid #000000;
	*/
}

#stance_table td, #stance_table tr {
	border: 1px solid #000000;
	padding: 10px;
}

.point {
}

.point_title {
	font-size: large;
	font-family:sans-serif;
}

.argument {
	padding:5px;
	margin-top:20px;
	margin-bottom:20px;
	font-size:small;
	/*
	background-color:#EEEEEE;
	*/
}

.argument_header {
	/*
	position:relative;
	*/
	padding:5px;
	background-color:#CCCCCC;
	/*
	font-weight:bold;
	*/
}

.argument_body {
	/*
	position:relative;
	*/
	padding:5px;
	padding-top:15px;
	padding-bottom:15px;
}

.argument_footer {
	position:relative;
	padding:5px;
	/*
	background-color:#DDDDDD;
	*/
}

.argument_footer form {
	padding:0px;
	margin:0px;
}

#new_argument {
	margin:40px;
}

#new_point {
	/*
	border:2px solid #888888;
	background-color:#AAAAAA;
	margin:10px;
	margin-top:30px;
	*/
	padding:10px;
}

#new_point textarea {
	width:90%;
}

#new_user_container {
	width:800px;
	margin:20px;
}

#new_user {
}

#debate_header {
/*
	float:left;
	display:inline;
	background-color:#CCDDFF;
	*/
	background-color:#006688;
	text-align:left;
	width:100%;
	padding-bottom:0px;
	/*
	padding:10px;
	padding-top:5px;
	padding-bottom:5px;
	border:2px solid #8899AA;
	*/
	border-top:2px solid #000000;
	/*
	border-bottom:2px solid #000000;
	border-right:2px solid #000000;
	*/
	color:#EEEEEE;
	font-size: 12pt;
	font-family:sans-serif;
}

#debate_header a {
	color:#EEEE00;
}

#arguments_header {
/*
	float:left;
	display:inline;
	background-color:#CCDDFF;
	width:48%;
	*/
	background-color:#006688;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	border:2px solid #8899AA;
	/*
	border-top:2px solid #000000;
	border-bottom:2px solid #000000;
	border-right:2px solid #000000;
	*/
	color:#EEEEEE;
	font-size: 12pt;
	font-family:sans-serif;
}

#arguments_header a {
	color:#EEEE00;
	/*
	text-decoration:none;
	*/
}

#arguments_header_support {
/*
	float:left;
	display:inline;
	background-color:#CCDDFF;
	width:48%;
	*/
	background-color:#006688;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	border:2px solid #8899AA;
	/*
	border-top:2px solid #000000;
	border-bottom:2px solid #000000;
	border-right:2px solid #000000;
	*/
	color:#EEEEEE;
	font-size: 12pt;
	font-family:sans-serif;
}

#arguments_header_support a {
	color:#EEEE00;
	/*
	text-decoration:none;
	*/
}

#arguments_header_oppose {
/*
	float:right;
	display:inline;
	background-color:#CCDDFF;
	width:48%;
	*/
	background-color:#006688;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	border:2px solid #8899AA;
	/*
	border-top:2px solid #000000;
	border-bottom:2px solid #000000;
	border-left:2px solid #000000;
	*/
	color:#EEEEEE;
	font-size: 12pt;
	font-family:sans-serif;
}

#arguments_header_oppose a {
	color:#EEEE00;
	/*
	text-decoration:none;
	*/
}

#arguments {
/*
	border-top:2px solid #000000;
	*/
}

#arguments_support {
/*	
	float:left;
	display:inline;
	position:absolute;
	position:relative;
	background-color:#FF0000;
	*/

	/*
	margin-left:3px;
	width:48%;
	height:100%;
	*/
	padding:5px;
/*
	right:49%;
	z-index:5;
	top:0px;
	right:0px;
*/
/*
	left:20px;
	right:50%;
	border-right:4px solid #000000;
	*/
}


#arguments_oppose {
	/*
	float:right;
	display:inline;
	background-color:#0000FF;
	position:relative;
	margin-left:1px solid #000000;
	width:48%;
	*/

/*
	height:100%;
	left:50%;
	left:49%;
	*/
	padding:5px;
	/*
	margin-right:3px;
	*/
}

#comments_header {
	background-color:#CCDDFF;
	text-align:center;
	width:100%;
	padding-top:5px;
	padding-bottom:5px;
	border:2px solid #8899AA;
	/*
	border-top:2px solid #000000;
	border-bottom:2px solid #000000;
	border-left:2px solid #000000;
	*/
	font-size: 18pt;
	font-family:sans-serif;
}

#comments {
	/*
	float:right;
	background-color:#0000FF;
	position:relative;
	margin-left:1px solid #000000;
	*/

	width:98%;
/*
	left:50%;
	left:49%;
	*/
	height:100%;
	padding:5px;
	/*
	margin-right:3px;
	*/
}

#moderation_header {
	background-color:#CCDDFF;
	text-align:center;
	width:97%;
	padding:5px;
	border:2px solid #8899AA;
	margin-left:auto;
	margin-right:auto;
	/*
	border-top:2px solid #000000;
	border-bottom:2px solid #000000;
	border-left:2px solid #000000;
	*/
	font-size: 18pt;
	font-family:sans-serif;
}

#moderation {
	width:100%;
}

#moderation td {
	padding:10px;
	text-align:center;
}

#moderation_result {
	text-align:right;
	margin-left:auto;
	/*
	background-color:#FFFFFF;
	*/
}

#summary_header {
	background-color:#CCDDFF;
	text-align:center;
	width:98%;
	padding-top:5px;
	padding-bottom:5px;
	border:2px solid #8899AA;
	/*
	border-top:2px solid #000000;
	border-bottom:2px solid #000000;
	border-left:2px solid #000000;
	*/
	font-size: 18pt;
	font-family:sans-serif;
}

#summary {
	width:100%;
}

#about {
	margin:40px;
}

.public_key {
	text-align:left;
	border:2px;
	margin:10px;
	padding-left:10px;
	/*background-color:#EEEEEE;
	*/
	font-size: 8pt;
	font-family:monospace;
}

#links {
	margin:40px;
}

#forgotpass {
	margin:40px;
}

#copyright {
	position: relative;
	font-size: 9pt;
	font-family:sans-serif;
	padding-bottom:15px;
}

